<div class="container">
  <h2>Đăng Kí Thi Môn Học</h2>
  <form action="/action_page.php">
      <label for="fname">Họ Và Tên</label>
      <input type="text" id="name" name="name" placeholder="Nhập họ và tên...">

      <label for="lname">Email</label>
      <input type="text" id="email" name="email" placeholder="Nhập email...">

      <label for="country">Số Điện Thoại</label>
      <input type="text" id="phone" name="phone" placeholder="Nhập số điện thoại...">

      <label for="address">Địa Chỉ</label>
      <input type="text" id="address" name="address" placeholder="Nhập địa chỉ...">

      <input type="submit" value="Submit">
  </form>
</div>