<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <form class="sinhvien">
            <p><i class="fa fa-table"></i> Detalls</p>
            <p>
                <b><i>LastName</i></b><br>
                {{product.LastName}} <br>
                <b><i>FirstName</i></b><br>
                {{product.FirstMidName}} <br>
                <b><i>EnrollData</i></b><br>
                {{product.EnrollmentDate}} <br>
            </p>
            <table class="table" cellspacing="0">
                <thead>
                    <tr>
                        <th>Course Title</th>
                        <th>Grade</th>
                        <th>Credits</th>
                    </tr>
                    <!-- <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> -->
                </thead>
            </table>
        </form>
    </div>
</body>

</html>