           <div class="to">
            <div class="form">
                <h2>Quên Mật Khẩu</h2>
                <i class="fab fa-app-store-ios"></i>
                <label style="margin-left: -150px;">Họ và Tên</label>
                <input type="text" name="hoten">
                <label>Số điện thoại</label>
                <input type="text" name="sdt">    
                <label style="margin-left: -180px;">Email</label>
                <input type="text" name="email"> 
                <input id="submit" type="submit" name="submit" value="Cập nhật">
            </div>                
        </div>
