<div class="jumbotron" style="width: 50%; margin: auto; margin-bottom: 15px;">
        <h1>Giải đáp thắc mắc:</h1>
        <h3>Vấn đề của bạn là gì:</h3>
        <form action="/action_page.php">
            <div class="form-group">
              <label for="email"><h6>Nội dung:</h6></label>
              <input type="email" class="form-control" id="email" style="min-height: 150px;">

              
        <form action="/action_page.php">
            <div class="form-group">
              <label for="email"><h6>Trả lời thắc mắc:</h6></label>
              <input type="email" class="form-control" id="email" style="min-height: 150px;">
            </div>
        </form>
      </div>